.SearchInputSidebar {
}

.searchInput {
  position: relative;
  width: 230px;
  height: 50px;
  margin: 70px 0 0 17.7px;
  border-radius: 100px;
  border: 1px solid #262626;
  gap: 10px;
  background-color: #000;
  color: #fff;
}

.searchIcon {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 5.7rem;
  left: 5.9rem;
}
