.videoDetailPlaylistContainer {
  width: 500px;
}

.videoDetailPlaylistVideos {
  width: 185px;
  height: 330px;
  border-radius: 20px;
  margin-left: 10px;
  border: none;
}

.videoDetailPlaylistTitle {
  font-family: PT Root UI VF, sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  color: #fff;
  top: 19rem;
  left: 3.5rem;
}

.mainListVideos {
  width: 185px;
  height: 330px;
  border-radius: 20px;
  margin-left: 10px;
  border: none;
}
