body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  background: linear-gradient(#7c2b1e, #000000 60%);
}
.swiper {
  width: 80%;
  margin: 0;
  padding: 55px 0 55px 0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-3d {
  perspective: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide-prev {
  transform: translate3d(0px, 0px, -100px) rotateZ(-10deg) scale(1) !important;
}

.swiper-slide-next {
  transform: translate3d(0px, 0px, -100px) rotateZ(10deg) scale(1) !important;
}

.swiper-3d .swiper-slide-shadow-left {
  background: none;
}

.swiper-3d .swiper-slide-shadow-right {
  background: none;
}

.swiper-pagination-bullet {
  display: none;
}
